/* .
.scene {
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
} */

.thing {
	position: absolute;
	align-items: center;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 40%;
	margin-left: -20%;
	margin-top: -100px;
	text-align: center;
	color: $white;
}

.parallax {
	height: 400vh;
	margin: 0;
  }

/* Stuff for easeBox --*/
  /* 

  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
  }
  
  .container:nth-child(1) { height: 200vh; }
  .container:nth-child(2) { height: 0; }
  .container:nth-child(3) { height: 200vh; }
  
  .box {
	padding: 1em 2em;
	margin: 0 .5em;
	background: #ddd;
	will-change: transform;
  }
  
  .box::before {
	content: attr(data-timing);
  }
  
  .easeBox { transform: translateY(var(--ty)); }
  .rotateBox { transform: rotate(var(--r)); }
  .fadeBox { opacity: var(--o); }
  .directBox { opacity: var(--o); }
 */


 /* Stuff for Intersection stuff via Greensock */

  .trigger {
	position: fixed;
	right: 10px;
	text-decoration: underline;
  }

.dog {
	width: 163px;
	height: 161px;
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/314556/dog.png");
	position: absolute;
	top: 50%;
	left: 0;
  }
  .woof {
	width: 100px;
	height: 100px;
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/314556/woofCartoon.png");
	position: absolute;
	top: -60px;
	right: -70px;
	
  }


.box {
	width:150px;
	height: 100px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 100px;
	position: absolute;
	left: 50%;
	top: 25%;
  }
  
  .hello, .message {
	font-size: 60px;
	position: absolute;
	top:50%;
	left: 50%;
	width: 100%;
	text-align: center;
  }
  
  #triangle, #circle {
	visibility: hidden;
  }

  .content {
	width: 100%;
	height: 101vh;
	position: relative;
  }
  
  .content1 {
	background: slategray;
  }

  .content3 {
	background: midnightblue;
  }

  .content4 {
	background: indigo;
  }